<div class="nav w-full h-16 bg-slate-100 px-2 flex items-center justify-between md:px-52">
  <div class="partI h-full md:gap-4 flex items-center">
    <span class="material-symbols-outlined md:text-4xl text-3xl cursor-pointer">
      menu
      </span>
      <div class="flex">
        <span class="material-symbols-outlined text-2xl text-yellow-500" >
          star_half
          </span>
          <p class="text-xl text-blue-600 font-bold">Revax</p>
      </div>
  </div>

  <div class="partII h-full flex items-center md:gap-4 gap-2">
    <button class="w-fit h-fit md:px-6 px-3 md:py-2 py-1 border rounded-full font-bold text-blue-500 border-blue-600">Buy Now</button>
    <span class="material-symbols-outlined md:text-4xl text-3xl cursor-pointer">
      account_circle
      </span>
        <mat-icon matBadge="13" matBadgeColor="primary">
          <button class="material-symbols-outlined md:text-4xl text-3xl cursor-pointer" routerLink="/cart">
            shopping_cart</button>
        </mat-icon>
  </div>
</div>
